.box {
  display: flex;
  justify-content: center;
}
.mainBox {
  width: fit-content;
  height: 300px;
  margin-top: 30px;
  background-color: #17478a;
  padding: 30px;
  border-radius: 10px;
}
.title {
  color: white;
  padding: 10px;
}
.calculater {
  color: #002272;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin: auto;
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #fcb813;
}
.calculater:hover {
  color: white;
  cursor: pointer;
}
.box div {
}
.box div input {
  font-size: 24px;
  border: none;
  box-shadow: 0 0 10px grey;
  border-radius: 5px;
  margin-right: 20px;
  height: 40px;
  width: 200px;
}
.box div input:focus {
  outline: none;
}
.box div input:hover {
  box-shadow: 0 0 10px black;
}
.select {
  width: 200px;
  margin-right: 20px;
  height: 10px;
}
.resultBlock {
  margin-top: 4em;
  color: white;
}
.result {
  font-size: 5em;
  cursor: pointer;
}
.error {
  color: white;
  font-size: 2em;
  font-weight: 700;
}
